<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Algo-Vis</title>
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1, maximum-scale=1">
</head>
<body>
  <div id="root"></div>
</body>
</html>